{{page-title "RigidityFinal"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<div class = "flex justify-center ">
    <div class = "text-5xl font-semibold">Hennaberg Simulator</div>
</div>
{{outlet}}