{{page-title "RigidityFinal"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<div class = "border border-black">Hello World</div>

{{outlet}}